[DEPLOYMENT]
# SSH Configuration (used for uploading the WAR file via SCP and executing commands)
ssh_username = your_ssh_username
ssh_password = your_ssh_password
ssh_server = your_ssh_server_ip_or_domain
ssh_port = 22

# SFTP Configuration (used for deploying the WAR to the web directory from the server)
sftp_username = your_sftp_username
sftp_password = your_sftp_password
sftp_server = your_sftp_server_ip_or_domain
