# Development environment properties (Local Docker Database)
app.baseUrl=http://localhost:8080

database.jdbc.url=jdbc:postgresql://localhost/paw?currentSchema=public&TimeZone=UTC
database.jdbc.username=postgres
database.jdbc.password=postgres
